@import url(‘https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap’);

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  padding: 60px 0px;
}

/* MENU: NAVBAR/HEADER */

nav {
  background-color: #222222;
}

nav ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: flex;
}

nav ul li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25%;
}

nav ul li a {
  color: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 13px;
  border-radius: 3px;
}

nav ul li a:hover {
  background-color: rgba(213, 151, 65, 0.3);
}

#id-de-la-seccion {
  display: flex;
}

#id-de-la-seccion:hover {
  background-color: rgba(213, 151, 65, 0.3);
}

#footer-contact {
  display: flex;
}


#section-main-image {
  display: flex;
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

 .main-image { 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.image-text {

  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
#title {
  color: rgba(255, 255, 255, 0.5);
  margin: 0px;
  top: 300px;
  left: 300px;
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
}

#sub-title {
  color: #eeeeee;
  margin: 20px;
  text-shadow: 2px 2px 5px #000;
  top: 330px;
  left: 300px;
  font-size: larger;
  text-align: center;
}

/* SECTION COFFEE */

#section-coffee {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.product {
  
}

.product img {
  width: 100%;
}

/* FOOTER CONTACT */

#footer-contact {
  background-color: #58462c;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-contact .contact-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-form form {
  margin-left: 50px;
  text-align: right;
}

.contact-form form .form-control {
  padding: 10px 0;
}

.contact-form form .form-control label {
  margin-right: 15px;
}

.contact-form form input {
  margin-top: 15px;
  color: #58462c;
  padding: 2px 30px;
}